<a href="https://colab.research.google.com/github/Harithamuralidharan/weather_Prediction/blob/main/Financial_Risk_for_Loan_Approval_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = pd.read_csv("loan_data.csv")
data

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0.0,RENT,35000.0,NaN,16.02,0.49,3.0,561.0,No,1
1,21.0,female,High School,12282.0,0.0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504.0,Yes,0
2,NaN,female,High School,12438.0,3.0,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635.0,No,1
3,23.0,female,Bachelor,79753.0,0.0,NaN,35000.0,MEDICAL,15.23,0.44,2.0,675.0,No,1
4,24.0,male,Master,66135.0,1.0,RENT,NaN,MEDICAL,14.27,0.53,4.0,586.0,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6.0,RENT,15000.0,MEDICAL,15.66,0.31,NaN,645.0,No,1
44996,NaN,female,Associate,65800.0,NaN,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,NaN,No,1
44997,33.0,male,Associate,56942.0,7.0,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668.0,No,1
44998,29.0,male,Bachelor,33164.0,4.0,RENT,12000.0,EDUCATION,13.23,NaN,6.0,604.0,No,1
44999,24.0,male,High School,51609.0,1.0,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628.0,No,1

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      41068 non-null  float64
 1   person_gender                   41008 non-null  object
 2   person_education                41097 non-null  object
 3   person_income                   41001 non-null  float64
 4   person_emp_exp                  40975 non-null  float64
 5   person_home_ownership           41123 non-null  object
 6   loan_amnt                       41124 non-null  float64
 7   loan_intent                     41114 non-null  object
 8   loan_int_rate                   41075 non-null  float64
 9   loan_percent_income             41082 non-null  float64
 10  cb_person_cred_hist_length      41057 non-null  float64
 11  credit_score                    40997 non-null  float64
 12  previous_loan_defaults_on_file  41119 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(8), int64(1), object(5)
memory usage: 4.8+ MB